{% extends 'main/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleguide.css' %}">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey={{ api_key }}" type="text/javascript"></script>
{% endblock %}
{% block script %}
    <script type="text/babel">
        function getCSRFToken() {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith('csrftoken=')) {
                  return cookie.substring('csrftoken='.length, cookie.length);
                }
            }
            return null;
        }

        const csrftoken = getCSRFToken();

        const CSRFToken = () => {
            return (
                <input type="hidden" name="csrfmiddlewaretoken" value={csrftoken} />
            );
        };

        function SubmitButton({counter}) {
            if (counter !== 4) {
                return <button id="make-button" className="bottom-button inactive" disabled type="submit"><div>Создать заказ</div></button>
            } else {
                return <button id="make-button" className="bottom-button" type="submit"><div>Создать заказ</div></button>
            }
        }

        class MethodBtn extends React.Component {
            constructor(props) {
                super(props);
                this.state = {text: 'моно'};
            }

            render() {
                return (
                    <div className="bottom-button cursor" onClick={() => {
                        if (this.state.text === 'стерео')
                            this.setState({text: 'моно'});
                        else
                            this.setState({text: 'стерео'});
                    }}>
                        <input hidden type="text" name="method" value={this.state.text}/>
                        <p id="method">{this.state.text}</p>
                    </div>
                );
            }
        }

        class ResolutionBtn extends React.Component {
            constructor(props) {
                super(props);
                this.state = {text: '1 m/px'};
            }

            render() {
                return (
                    <div className="bottom-button cursor" onClick={() => {
                        if (this.state.text === '1 m/px')
                            this.setState({text: '0,5 m/px'});
                        else
                            this.setState({text: '1 m/px'});
                    }}>
                        <input hidden type="text" name="resolution" value={this.state.text}/>
                        <p id="resolution">{this.state.text}</p>
                    </div>
                );
            }
        }

        class Screen extends React.Component {
            constructor(props) {
                super(props);
                this.state = {points: []};
              }

            render() {
                return (
                    <div>
                        <header>
                            <div className="header-container">
                                <div><img src="{% static 'images/Logo.svg' %}" alt="Logo"/></div>
                                <div><a href="/logout">Выйти</a></div>
                            </div>
                        </header>
                        <form method="post" action="/profile/"><CSRFToken />
                            <div className="map-form">
                                <div className="input-group-order">
                                    <div className="input-order-name">
                                        <input id="name" required name="name" defaultValue="" placeholder="Название заказа" type="text"/>
                                    </div>
                                    <a href="/profile">
                                        <div className="cross-back">
                                            <img src="{% static 'images/cross.svg' %}" alt="remove"/>
                                        </div>
                                    </a>
                                </div>
                                <div id="map"></div>
                                <input hidden name="points" type="text" value={this.state.points}/>
                                <div className="buttons-center">
                                    <div className="buttons-group">
                                        <div className="bottom-button">
                                            <p>{{ new_id }}</p>
                                        </div>
                                        <MethodBtn/>
                                        <ResolutionBtn/>
                                        <SubmitButton counter={this.state.points.length}/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
              );
            }

            componentDidMount() {

                let addPoint = (myMap, x, y) => {
                    if (this.state.points.length < 4) {
                        myMap.geoObjects
                            .add(new ymaps.Placemark([x, y], {}, {
                                preset: 'islands#redIcon'
                            }));
                        let array = this.state.points;
                        array.push(x, y);
                        this.setState({points: array});
                        if (this.state.points.length === 4) {
                            myMap.geoObjects
                                .add(new ymaps.Placemark([this.state.points[0], this.state.points[3]], {}, {
                                    preset: 'islands#redIcon'
                                }));
                            myMap.geoObjects
                                .add(new ymaps.Placemark([this.state.points[2], this.state.points[1]], {}, {
                                    preset: 'islands#redIcon'
                                }));
                        }
                    }
                }

                function onClick(myMap, e) {
                    let coords = e.get('coords');
                    let x = coords[0].toPrecision(6);
                    let y = coords[1].toPrecision(6);
                    addPoint(myMap, x, y);
                }

                ymaps.ready(() => {
                   let myMap = new ymaps.Map("map", {
                        center: [55.76, 37.64],
                        zoom: 5
                    }, {
                        searchControlProvider: 'yandex#search'
                    });

                    myMap.events.add('click', (e) => onClick(myMap, e));
               });
            }
        }

        const root = document.getElementById('root');
        let DOMRoot = ReactDOM.createRoot(root);
        DOMRoot.render(<Screen />);
    </script>
{% endblock %}