{% extends 'main/base.html' %}
{% block extra_scripts %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey={{ api_key }}" type="text/javascript"></script>
{% endblock %}
{% load static %}
{% block script %}
    <script type="text/babel">
        function getCSRFToken() {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith('csrftoken=')) {
                  return cookie.substring('csrftoken='.length, cookie.length);
                }
            }
            return null;
        }

        const csrftoken = getCSRFToken();

        const CSRFToken = () => {
            return (
                <input type="hidden" name="csrfmiddlewaretoken" value={csrftoken} />
            );
        };

        const Header = () => {
            return (
                <header>
                    <div className="header-container">
                        <div><a href="/"><img className="header-mobile" src="{% static 'images/Logo.svg' %}" alt="Logo"/></a></div>
                        <div><a className="header-mobile" href="/logout">Выйти</a></div>
                    </div>
                </header>
            );
        }

        const HomeScreen = () => {
          return (
              <div>
                  <Header/>
                  <Cards/>
                  <Plus/>
              </div>
          );
        };

        const Cards = () => {
            return (
                <div className="list">
                {% for order in orders %}
                    {% if order.is_cancelled %}
                        <div className="card card-cancelled">
                            <div className="circle circle-cancelled">
                                <img src="{% static 'images/Ellipse red.svg' %}" alt="circle"/>
                            </div>
                            <div>
                                <p className="order-name">{{ order }} ({{ order.id }})</p>
                                <p className="order-action">Отклонено</p>
                            </div>
                            <div className="date">
                                <p>{{ order.date|date:'d.m.Y H:i' }}</p>
                            </div>
                            <div className="line">
                                <img src="{% static 'images/Line 1.png' %}" alt="line"/>
                            </div>
                        </div>
                    {% else %}
                        {% if order.photo %}
                            <a className="card card-success" href="download/{{ order.id }}/">
                                <div className="circle circle-success">
                                    <img src="{% static 'images/Ellipse green.svg' %}" alt="circle"/>
                                </div>
                                <div>
                                    <p className="order-name">{{ order }} ({{ order.id }})</p>
                                    <p className="order-action">Готово</p>
                                </div>
                                <div className="date">
                                    <p>{{ order.date|date:'d.m.Y H:i' }}</p>
                                </div>
                                <div className="line">
                                    <img src="{% static 'images/Line 1.png' %}" alt="line"/>
                                </div>
                            </a>
                        {% else %}
                            <div className="card card-process">
                                <div className="circle circle-process">
                                    <img src="{% static 'images/Ellipse purple.svg' %}" alt="circle"/>
                                </div>
                                <div>
                                    <p className="order-name">{{ order }} ({{ order.id }})</p>
                                    <p className="order-action">Ожидает съёмки</p>
                                </div>
                                <div className="date">
                                    <p>{{ order.date|date:'d.m.Y H:i' }}</p>
                                </div>
                                <div className="line">
                                    <img src="{% static 'images/Line 1.png' %}" alt="line"/>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </div>
            );
        }

        const Plus = () => {
          return (
              <div id="outer-plus">
                  <a onClick={() => renderAddScreen()}>
                      <img id="inner-plus" className="cursor" src="{% static 'images/Subtract.svg' %}" width="88" alt="plus"/>
                  </a>
                </div>
          );
        };

        function SubmitButton({success}) {
            if (success) {
                return <button id="make-button" className="bottom-button" type="submit"><div>Создать заказ</div></button>
            } else {
                return <button id="make-button" className="bottom-button inactive" disabled type="submit"><div>Создать заказ</div></button>
            }
        }

        class MethodBtn extends React.Component {
            constructor(props) {
                super(props);
                this.state = {text: 'моно'};
            }

            render() {
                return (
                    <div className="bottom-button cursor" onClick={() => {
                        if (this.state.text === 'стерео')
                            this.setState({text: 'моно'});
                        else
                            this.setState({text: 'стерео'});
                    }}>
                        <input hidden type="text" name="method" value={this.state.text}/>
                        <p id="method">{this.state.text}</p>
                    </div>
                );
            }
        }

        class ResolutionBtn extends React.Component {
            constructor(props) {
                super(props);
                this.state = {text: '1 m/px'};
            }

            render() {
                return (
                    <div className="bottom-button cursor" onClick={() => {
                        if (this.state.text === '1 m/px')
                            this.setState({text: '0,5 m/px'});
                        else
                            this.setState({text: '1 m/px'});
                    }}>
                        <input hidden type="text" name="resolution" value={this.state.text}/>
                        <p id="resolution">{this.state.text}</p>
                    </div>
                );
            }
        }

         class InputMethodBtn extends React.Component {
            constructor(props) {
                super(props);
                this.state = {text: 'geoJSON'};
            }

            render() {
                return (
                    <div onClick={() => {
                        if (this.state.text === 'geoJSON') {
                            this.setState({text: 'Карты'});
                            document.getElementById('map').style.display = 'none';
                            document.getElementById('textarea-outer').style.display = 'block';
                        } else {
                            this.setState({text: 'geoJSON'});
                            document.getElementById('textarea-outer').style.display = 'none';
                            document.getElementById('map').style.display = 'block';
                        }
                    }}>
                        <p id="input-method">{this.state.text}</p>
                    </div>
                );
            }
        }

        class AddScreen extends React.Component {
            constructor(props) {
                super(props);
                this.state = {points: [], is_map: true};
            }

            render() {
                return (
                    <div>
                        <Header/>
                        <form method="post" action="/post/"><CSRFToken />
                            <div className="map-form">
                                <div className="input-group-order">
                                    <div className="input-order-name">
                                        <input id="name" required name="name" defaultValue="" placeholder="Название заказа" type="text"/>
                                    </div>
                                    <a onClick={() => renderHomeScreen()}>
                                        <div className="cross-back cursor">
                                            <img src="{% static 'images/cross.svg' %}" alt="remove"/>
                                        </div>
                                    </a>
                                </div>
                                <div id="map"></div>
                                <div id="textarea-outer">
                                    <textarea name="textarea" cols="30" rows="10" id="textarea" placeholder="Введите geoJSON"></textarea>
                                </div>
                                <input hidden name="points" type="text" value={this.state.points}/>
                                <input hidden name="is_map" type="text" value={this.state.is_map}/>
                                <div className="buttons-center">
                                    <div className="buttons-group">
                                        <div className="bottom-button">
                                            <p>{{ new_id }}</p>
                                        </div>
                                        <MethodBtn/>
                                        <ResolutionBtn/>
                                        <SubmitButton success={this.state.points.length === 8 || !this.state.is_map}/>
                                    </div>
                                </div>
                                <div className="buttons-center">
                                    <div className="bottom-button cursor" onClick={() => {
                                        this.setState({is_map: !this.state.is_map});
                                    }}>
                                        <InputMethodBtn/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
              );
            }

            componentDidMount() {
                let addPoint = (myMap, latitude, longitude) => {
                    let pointsList = this.state.points;
                    if (pointsList.length < 8) {
                        myMap.geoObjects.add(new ymaps.Placemark([latitude, longitude], {}, {
                            preset: 'islands#redIcon'
                        }));
                        pointsList.push(latitude, longitude);
                        this.setState({points: pointsList});
                    }
                }

                let removePoint = () => {
                    let pointsList = this.state.points;
                    pointsList.pop();
                    pointsList.pop();
                    this.setState({points: pointsList});
                }

                function onClick(myMap, e) {
                    let coords = e.get('coords');
                    let latitude = coords[0].toPrecision(6);
                    let longitude = coords[1].toPrecision(6);
                    addPoint(myMap, latitude, longitude);
                }

                ymaps.ready(() => {
                   let myMap = new ymaps.Map("map", {
                        center: [55.76, 37.64],
                        zoom: 5
                    }, {
                        searchControlProvider: 'yandex#search'
                    });

                    myMap.events.add('click', (e) => onClick(myMap, e));
                    myMap.geoObjects.events.add('click', function (e) {
                        var object = e.get('target');
                        myMap.geoObjects.remove(object);
                        removePoint();
                    });
               });
            }
        }

        function renderAddScreen() {
            DOMRoot.render(<AddScreen />);
        }

        function renderHomeScreen() {
            DOMRoot.render(<HomeScreen />);
        }

        const root = document.getElementById('root');
        let DOMRoot = ReactDOM.createRoot(root);
        renderHomeScreen();
    </script>
{% endblock %}