{% extends 'main/base.html' %}
{% load static %}
{% block script %}
    <script type="text/babel">
        const Screen = () => {
          return (
              <div>
                  <header>
                      <div className="header-container">
                          <div><a href="/"><img className="header-mobile" src="{% static 'images/Logo.svg' %}" alt="Logo"/></a></div>
                          <div><a className="header-mobile" href="/logout">Выйти</a></div>
                      </div>
                  </header>
                  <Cards/>
                  <Plus/>
              </div>
          );
        };

        const Cards = () => {
            return (
                <div className="list">
                {% for order in orders %}
                    {% if order.is_cancelled %}
                        <div className="card card-cancelled">
                            <div className="circle circle-cancelled">
                                <img src="{% static 'images/Ellipse red.svg' %}" alt="circle"/>
                            </div>
                            <div>
                                <p className="order-name">{{ order }} ({{ order.id }})</p>
                                <p className="order-action">Отклонено</p>
                            </div>
                            <div className="date">
                                <p>{{ order.date.date|date:'d.m.Y' }}</p>
                            </div>
                            <div className="line">
                                <img src="{% static 'images/Line 1.png' %}" alt="line"/>
                            </div>
                        </div>
                    {% else %}
                        {% if order.date.timestamp < current_time.timestamp %}
                            <div className="card card-success">
                                <div className="circle circle-success">
                                    <img src="{% static 'images/Ellipse green.svg' %}" alt="circle"/>
                                </div>
                                <div>
                                    <p className="order-name">{{ order }} ({{ order.id }})</p>
                                    <p className="order-action">Готово</p>
                                </div>
                                <div className="date">
                                    <p>{{ order.date.date|date:'d.m.Y' }}</p>
                                </div>
                                <div className="line">
                                    <img src="{% static 'images/Line 1.png' %}" alt="line"/>
                                </div>
                            </div>
                        {% else %}
                            <div className="card card-process">
                                <div className="circle circle-process">
                                    <img src="{% static 'images/Ellipse purple.svg' %}" alt="circle"/>
                                </div>
                                <div>
                                    <p className="order-name">{{ order }} ({{ order.id }})</p>
                                    <p className="order-action">Ожидает съёмки</p>
                                </div>
                                <div className="date">
                                    <p>{{ order.date.date|date:'d.m.Y' }}</p>
                                </div>
                                <div className="line">
                                    <img src="{% static 'images/Line 1.png' %}" alt="line"/>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </div>
            );
        }

        const Plus = () => {
          return (
              <div id="outer-plus">
                  <a href="/add">
                      <img id="inner-plus" className="cursor" src="{% static 'images/Subtract.svg' %}" width="88" alt="plus"/>
                  </a>
                </div>
          );
        };

        const root = document.getElementById('root');
        let DOMRoot = ReactDOM.createRoot(root);
        DOMRoot.render(<Screen />);
    </script>
{% endblock %}