:root {
  --: 0px 4px 14px 0px rgba(51, 51, 51, 0.5);
  --black: rgba(19, 19, 21, 1);
  --body-large-font-family: "Saira-Regular", Helvetica;
  --body-large-font-size: 16px;
  --body-large-font-style: normal;
  --body-large-font-weight: 400;
  --body-large-letter-spacing: 0.5px;
  --body-large-line-height: 24px;
  --body-medium-font-family: "Saira-Regular", Helvetica;
  --body-medium-font-size: 14px;
  --body-medium-font-style: normal;
  --body-medium-font-weight: 400;
  --body-medium-letter-spacing: 0.25px;
  --body-medium-line-height: 20px;
  --body-small-font-family: "Saira-Regular", Helvetica;
  --body-small-font-size: 12px;
  --body-small-font-style: normal;
  --body-small-font-weight: 400;
  --body-small-letter-spacing: 0px;
  --body-small-line-height: 16px;
  --dark-pink: rgba(180, 80, 162, 1);
  --display-large-font-family: "SairaSemiCondensed-Regular", Helvetica;
  --display-large-font-size: 57px;
  --display-large-font-style: normal;
  --display-large-font-weight: 400;
  --display-large-letter-spacing: -0.25px;
  --display-large-line-height: 64px;
  --display-medium-font-family: "SairaSemiCondensed-Regular", Helvetica;
  --display-medium-font-size: 45px;
  --display-medium-font-style: normal;
  --display-medium-font-weight: 400;
  --display-medium-letter-spacing: 0px;
  --display-medium-line-height: 52px;
  --display-small-font-family: "SairaSemiCondensed-Regular", Helvetica;
  --display-small-font-size: 36px;
  --display-small-font-style: normal;
  --display-small-font-weight: 400;
  --display-small-letter-spacing: 0px;
  --display-small-line-height: 44px;
  --gray: rgba(84, 79, 99, 1);
  --green: rgba(70, 136, 150, 1);
  --headline-large-font-family: "SairaSemiCondensed-Regular", Helvetica;
  --headline-large-font-size: 32px;
  --headline-large-font-style: normal;
  --headline-large-font-weight: 400;
  --headline-large-letter-spacing: 0px;
  --headline-large-line-height: 40px;
  --headline-medium-font-family: "SairaSemiCondensed-Regular", Helvetica;
  --headline-medium-font-size: 28px;
  --headline-medium-font-style: normal;
  --headline-medium-font-weight: 400;
  --headline-medium-letter-spacing: 0px;
  --headline-medium-line-height: 36px;
  --headline-small-font-family: "SairaSemiCondensed-Regular", Helvetica;
  --headline-small-font-size: 24px;
  --headline-small-font-style: normal;
  --headline-small-font-weight: 400;
  --headline-small-letter-spacing: 0px;
  --headline-small-line-height: 32px;
  --label-large-font-family: "Saira-Medium", Helvetica;
  --label-large-font-size: 14px;
  --label-large-font-style: normal;
  --label-large-font-weight: 500;
  --label-large-letter-spacing: 0.10000000149011612px;
  --label-large-line-height: 20px;
  --label-small-font-family: "Saira-Medium", Helvetica;
  --label-small-font-size: 11px;
  --label-small-font-style: normal;
  --label-small-font-weight: 500;
  --label-small-letter-spacing: 0.5px;
  --label-small-line-height: 16px;
  --lable-medium-font-family: "Saira-Medium", Helvetica;
  --lable-medium-font-size: 12px;
  --lable-medium-font-style: normal;
  --lable-medium-font-weight: 500;
  --lable-medium-letter-spacing: 0.5px;
  --lable-medium-line-height: 16px;
  --light-purple: rgba(208, 188, 255, 1);
  --m-3syslightprimary: rgba(103, 80, 164, 1);
  --m3-elevation-light-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --m3-label-large-font-family: "Roboto-Medium", Helvetica;
  --m3-label-large-font-size: 14px;
  --m3-label-large-font-style: normal;
  --m3-label-large-font-weight: 500;
  --m3-label-large-letter-spacing: 0.10000000149011612px;
  --m3-label-large-line-height: 20px;
  --m3state-layerslighton-primaryopacity-008: rgba(255, 255, 255, 0.08);
  --m3state-layerslighton-primaryopacity-012: rgba(255, 255, 255, 0.12);
  --m3syslighton-primary: rgba(255, 255, 255, 1);
  --pink: rgba(255, 211, 247, 1);
  --purple: rgba(83, 58, 148, 1);
  --title-large-font-family: "SairaCondensed-Regular", Helvetica;
  --title-large-font-size: 22px;
  --title-large-font-style: normal;
  --title-large-font-weight: 400;
  --title-large-letter-spacing: 0px;
  --title-large-line-height: 28px;
  --title-medium-font-family: "SairaCondensed-Medium", Helvetica;
  --title-medium-font-size: 16px;
  --title-medium-font-style: normal;
  --title-medium-font-weight: 500;
  --title-medium-letter-spacing: 0.15000000596046448px;
  --title-medium-line-height: 24px;
  --title-small-font-family: "SairaCondensed-Medium", Helvetica;
  --title-small-font-size: 14px;
  --title-small-font-style: normal;
  --title-small-font-weight: 500;
  --title-small-letter-spacing: 0.10000000149011612px;
  --title-small-line-height: 20px;
  --white: rgba(239, 239, 239, 1);
}
